@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
  background-color: #223344;
}

body {
  font-familyvar(--font);
  background: radial-gradient(ellipse at bottom, var(--bgColor) 0%, var(--bgColor2) 100%);
  /* background-image: url('https://bit.ly/3nFVqJh'); */
  opacity: 0;
  animation: 1s ease-out var(--delay) 1 transitionAnimation; /* duration/timing-function/delay/iterations/name */
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*
Needing to look into layering background colors on top of each other
CSS @keyframes rule is used to control the steps in an animation sequence bt defining CSS 
styles for points along the animation sequence

-- Running htop ~> able to run smoothly via the following command ~> ./htop



*/

