/*-------------------------popup------------------------*/
/* credits: https://www.youtube.com/watch?v=lAS2glU0xlc */
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: .5s ease-in-out;
}

.popup {
  position: relative;
  top: -43%;
  /* right: -100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  /* max-height: 500px; */
  width: auto;
  height: auto;
  margin: 56px;
  background-color: var(--accentColor);
  /* transform: rotate(32deg); */
  transform: scale(0);
  transition: .5s ease-in-out;
}

.popup-quote {
  font-family : Baskerville, Georgia, serif;
  font-style : italic;
  position: flex;
  color: var(--accentColor);
  padding: 20px;
  background-color: var(--bgColor);
  text-align: center;
  font-size: 1rem;
}

.popup-photo {
  display: flex;
  width: 100%;
  height: 100%;
}

.popup-photo img {
  width: 100%;
  height: 100%;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay:target .popup {
  transform: scale(1);
  top: 0;
  /* right: 0; */
  /* transform: rotate(0); */
}

.popup-close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.7rem;
  font-weight: 400;
  border-radius: 100%;
  background-color: var(--bgColor);
  z-index: 4;
  color: var(--accentColor);
  line-height: 2.7rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .popup-close:hover {
      background-color: var(--accentColor);
      color: var(--bgColor);
  }
}

.popup-close:active {
  background-color: var(--accentColor);
  color: var(--bgColor);
}